<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="global.css">
  <script id="scoreTemplate" type="text/ractive">
    {{#winner}}
      <div>
        <h2 class="winner winner-name">{{winner}}</h2>
      </div>
    {{/winner}}
    {{#started}}
      <span class="vs">
        {{score.a}} - {{score.b}},
        {{players.a}} - {{players.b}}
      </span>
    {{/started}}
  </script>
  <script id="adminTemplate" type="text/ractive">
    <ul>
      {{^players}}
        <li>no players</li>
      {{/started}}

      {{#players}}
        <li><input type="checkbox">{{name}}</li>
      {{/players}}
    </ul>

    {{^started}}
      <button class="button" on-click="action:'start'">Start</button>
    {{/started}}

    {{#started}}
      <button class="button" on-click="action:'stop'">Stop</button>
    {{/started}}
  </script>
</head>
  <body>
    <script src="console.js"></script>
    <script src="jquery.min.js"></script>
    <script src="ractive.min.js"></script>
    <script src="api.js"></script>
    <%- yield %>
  </body>
</html>
