<link rel="stylesheet" type="text/css" href="admin.css">

<div class="admin"></div>
<script src="admin.js"></script>

<div class="score"></div>
<script src="score.js"></script>

<script>
  new ScoreView(".score");
  new AdminView(".admin");
</script>
