<link rel="stylesheet" type="text/css" href="admin.css">
<div id="score"></div>
<script src="score.js"></script>

<div id="admin"></div>
<script src="admin.js"></script>

<script>
  var s = new ScoreView("#score");
  s.start(500);
</script>
