<link rel="stylesheet" type="text/css" href="admin.css">

<div class="admin"></div>
<script src="admin.js"></script>

<div class="score"></div>
<script src="score.js"></script>

<script>
  var admin = new Admin({ el: '.admin'});
  var score = new Score({ el: '.score'});
  API.getRanking(function (ranking) {
    score.set('ranking', ranking);
  });
</script>
