@import "global";
@import "player";

.admin {
  max-width: 50%;
  margin: 0 auto;
}

.score {
  background-color: @color-bekk-gray;
}

.draw,
.winner {
  .font();
  .uppercase-first-letter();
  .ellipsis();
  text-align: center;
}

.players,
.admin-buttons {
  margin: 1em;
}

[type=checkbox] {
  display: none;

  & + .player {
    background-color: @color-bekk-gray;
  }

  &:checked + .player {
    background-color: @color-bekk-gray-light;
    .player-name-remove {
      display: none;
    }
  }

  &:checked + .player .player-number {
    color: @color-bekk-gray;
  }
}

.player {

  .admin & .player-number {
    float: right;
  }

  .player-name-remove {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;

    padding: 1em;
    opacity: 0;
  }

  &:hover {
    .player-name-remove {
      opacity: 1;
      color: @color-bekk-red;
    }
  }
}
