@color-bg: #111;
@color-text: #fff;
@color-text-dark: #333;
@color-bekk-blue: #297f79;
@color-bekk-red: #fd5158;
@color-bekk-gray-light: #847e7e;
@color-bekk-gray: #262626;

@tablet:  ~"only screen and (min-width: 720px) and (max-width: 959px)";
@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tv:      ~"only screen and (min-width: 1200px)";

@import "clearfix";

.font() {
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: @color-text;
}

.center-contents() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
  background: @color-bg;
  font-size: 100%;
  .font();
  box-sizing: border-box;
}

// http://www.paulirish.com/2012/box-sizing-border-box-ftw
*, *:before, *:after {
  box-sizing: inherit;
}

