@color-bg: #000;
@color-text: #fff;
@color-highlight: #297f79;

.font() {
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: @color-text;
}

html,
body {
  height: 100%;
  background: @color-bg;
  font-size: 100%;
  .font();
}

