<link rel="stylesheet" type="text/css" href="score.css">
<div class="score"></div>
<script src="score.js"></script>

<script>
  var score = new Score({ el: '.score' });
  API.getRanking(function (ranking) {
    score.set('ranking', ranking);
  });
</script>

