<link rel="stylesheet" type="text/css" href="matches.css">

<div class="matches"></div>
<script src="matches.js"></script>

<script>
var matches = new Matches({ el: '.matches' });
API.getMatches(function (allMatches) {
  matches.set('matches', allMatches);
});
</script>
