@import "global";

.score {
  .center-contents();

  text-align: center;
  font-size: 25em;
}

.vs {

}

.button {
  margin: auto;
  display: block;
  border: 0;
  background-color: @color-highlight;
  .font();
  font-size: 6em;
  padding: 0.3em 0.8em;
}

