@import "global";

.score {
  display: table;
  width: 100%;
  height: 100%;
}

.vs {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.vs-score {
  .clearfix();

  font-size: 6em;
  @media @tablet  { font-size: 10em; }
  @media @desktop { font-size: 23em; }
  @media @tv      { font-size: 33em; }

  .vs-score-a {
    float: left;
    width: 40%;
    text-align: right;
  }
  .vs-score-b {
    float: left;
    width: 40%;
    text-align: left;
  }
  .vs-score-sep {
    float: left;
    width: 20%;
    color: @color-bekk-red;
  }
}

.vs-players-base() {
  .uppercase-first-letter;
  float: left;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vs-players {

  font-size: 2em;
  @media @tablet  { font-size: 4em; }
  @media @desktop { font-size: 10em; }
  @media @tv      { font-size: 12em; }

  color: @color-bekk-gray-light;
  @vs-players-offset: 15%;

  .vs-players-a {
    .vs-players-base();
    text-align: right;
    padding-right: 8%;
  }
  .vs-players-b {
    .vs-players-base();
    text-align: left;
    padding-left: 8%;
  }
}

