@import "global";

.signup {
  .center-contents();
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.signup-field {
  .font();
  display: block;
  font-size: 8em;
  color: @color-text-dark;
  padding: 0.3em 0.6em;
}
