<link rel="stylesheet" type="text/css" href="signup.css">
<form method="post" class="signup" autocomplete="off">
  <label class="signup-field">
    <div class="signup-field-wrap">
      <div class="signup-field-confirmed">You're on!</div>
      <input type="text" class="signup-field-name" name="name" placeholder="Who wants to play?">
    </div>
  </label>
  <input type="submit" style="visiblity:hidden;position:absolute;top:-100px;"/>
</form>

<script>
  var $form = $('.signup'),
      $confirmed = $('.signup-field-confirmed'),
      $input = $('.signup-field-name');

  $input.focus();

  $form.submit(function submit (e) {
    var name = $.trim($input.val());
    if (!name) return;

    $confirmed.addClass('confirmed--flash');
    setTimeout(function () {
      $confirmed.removeClass('confirmed--flash');
    }, 900);

    API.signUp(name);
    $input.val("");
    return false;
  });

</script>
