<link rel="stylesheet" type="text/css" href="signup.css">
<form method="post" action="" class="signup" autocomplete="off">
  <label class="signup-field">
    <div class="signup-field-confirmed">You're on!</div>
    <input type="text" class="signup-field-name" name="name" placeholder="I want to play!">
  </label>
</form>

<script>
  var $form = $('.signup'),
      $confirmed = $('.signup-field-confirmed'),
      $input = $('.signup-field-name');

  $input.focus();

  $form.submit(function (e) {
    e.preventDefault();

    $confirmed.addClass('confirmed--flash');
    setTimeout(function () {
      $confirmed.removeClass('confirmed--flash');
    }, 1000);

    Api.signUp($input.val(), function () {
      console.log('worked.');
    });
    $input.val("");
  });

</script>
