.score {
  overflow: hidden;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .score-half {
    height: 100%;
    width: 50%;
    float: left;

    &.score-half--bordered {
      border-right: 1px solid @color-bekk-gray-light;
    }
  }

  .ranking-heading {
    text-align: center;
  }

  .vs {
    text-align: center;
    vertical-align: middle;
  }

  .vs-score {
    .clearfix();

    font-size: 4em;
    @media @tablet  { font-size: 8em; }
    @media @desktop { font-size: 11em; }
    @media @tv      { font-size: 21em; }

    .vs-score-a {
      float: left;
      width: 40%;
      text-align: right;
    }
    .vs-score-b {
      float: left;
      width: 40%;
      text-align: left;
    }
    .vs-score-sep {
      float: left;
      width: 20%;
      color: @color-bekk-red;
    }
  }

  .vs-players-base() {
    .uppercase-first-letter();
    .ellipsis();
    float: left;
    width: 50%;
  }

  .vs-players {

    font-size: 1em;
    @media @tablet  { font-size: 1em; }
    @media @desktop { font-size: 2em; }
    @media @tv      { font-size: 3em; }

    color: @color-bekk-gray-light;
    @vs-players-offset: 15%;

    .vs-players-a {
      .vs-players-base();
      text-align: right;
      padding-right: 8%;
    }
    .vs-players-b {
      .vs-players-base();
      text-align: left;
      padding-left: 8%;
    }
  }

  .time-remaining {
    width: 5em;
    text-align: center;
    margin: 0 auto;
  }

  .player {
    .player-number {
      display: none;
    }
  }
}
