.video-stream {
  width: 100%;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.video-insta {
  position: absolute;
  top: 5%;
  right: 17%;

  background: url(/images/insta.png) top right no-repeat;
  width: 300px;
  height: 100px;
}

.video-replay {
  position: relative;
  margin-top: 5%;
  video {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
}

.score {
  overflow: hidden;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .score-half {
    height: 100%;
    width: 50%;
    float: left;

    &.score-half--bordered {
      border-right: 1px solid @color-bekk-gray-light;
    }
  }

  .ranking {
    font-size: 1.5em;
  }

  .ranking-heading {
    text-align: center;
  }

  .vs-score {
    font-size: 5em;
    @media @tablet  { font-size: 14em; }
    @media @desktop { font-size: 16em; }
    @media @tv      { font-size: 21em; }

    .vs-score-aset,
    .vs-score-bset {
      font-size: 35%;
    }

    .vs-score-sep {
      color: @color-bekk-red;
      position: absolute;
      width: 25px;
      margin-left: -12px;
      left: 50%;
    }

    .vs-score-a-container,
    .vs-score-b-container {
      transition: all 700ms ease-in-out;
      position: absolute;
      width: 50%;
      text-align: center;
    }

    .vs-score-a-container {
      left: 0%;
    }

    .vs-score-b-container {
      left: 50%;
    }
  }

  .vs-score-inverted {
    .vs-score-a-container {
      left: 50%;
    }

    .vs-score-b-container {
      left: 0%;
    }
  }

  .vs-players-base() {
    .uppercase-first-letter();
    .ellipsis();
    font-size: 0.4em;
    color: @color-bekk-gray-light;
    @vs-players-offset: 15%;
  }

  .vs-players-a {
    .vs-players-base();
  }
  .vs-players-b {
    .vs-players-base();
  }

  .vs-players {
    font-size: 1em;
    @media @tablet  { font-size: 2em; }
    @media @desktop { font-size: 3em; }
    @media @tv      { font-size: 4em; }

    color: @color-bekk-gray-light;
    @vs-players-offset: 15%;
  }

  .serving-player {
    border-bottom: solid 1px @color-bekk-red;
  }

  .time {
    width: 5em;
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
  }

  .player {
    .player-number {
      display: none;
    }
  }
}
