<div class="score">
  <connection/>
  <div class="score-half score-half--bordered">
    {{#draw}}
      <div>
        <h2 class="draw">Draw!</h2>
      </div>
    {{/draw}}
    {{#winner}}
      <div>
        <h2 class="winner winner-name">{{winner}}!</h2>
      </div>
    {{/winner}}
    {{#started}}
      <div class="time">{{time}}</div>
      <div class="vs">
        <div class="vs-score">
          <span class="vs-score-a">{{score.a}}</span>
          <span class="vs-score-sep">-</span>
          <span class="vs-score-b">{{score.b}}</span>
        </div>
        <div class="vs-players">
          <span class="vs-players-a">{{players.a.name}}</span>
          <span class="vs-players-b">{{players.b.name}}</span>
        </div>
      </div>
    {{/started}}
  </div>
  <div class="score-half">
    {{#streaming}}
      {{#streamHost}}
        <img class="video-stream" src="{{streamHost}}"/>
      {{/streamHost}}
    {{/streaming}}
    {{^streaming}}
      <div class="video">
        <div class="video-replay">
          <div class="video-insta"></div>
          <video>
            <source type="video/mp4" src="http://localhost:3001/stream">
          </video>
        </div>
      </div>
    {{/streaming}}
    <div class="ranking">
      <h3 class="ranking-heading">Ranking</h3>
      <ul>
      {{^ranking}}
        <li>No players, yet!</li>
      {{/ranking}}
      {{#ranking}}
        <li class="player">
          <span class="player-name">{{player.name}}</span>
          <span class="player-number">{{player.number}}</span>
          <span class="player-rating">{{rating}}</span>
        </li>
      {{/ranking}}
      </ul>
    </div>
  </div>
</div>
