<div class="score">
  <connection/>
  <div>
    {{#showscore}}
      <div class="time">{{time}}</div>
      <div class="vs-score {{vsinvertedclass}}">
        <div class="vs-score-a-container">
          <span class="vs-score-a {{animateA}}">{{score.a}}</span>
          <span class="vs-score-aset">{{sets.a}}</span>
          <div class="vs-players-a"><span class="{{playeraclass}}">{{players.a.name}}</span></div>
        </div>
        <div class="vs-score-sep">-</div>
        <div class="vs-score-b-container">
          <span class="vs-score-bset">{{sets.b}}</span>
          <span class="vs-score-b {{animateB}}">{{score.b}}</span>
          <div class="vs-players-b"><span class="{{playerbclass}}">{{players.b.name}}</span></div>
        </div>
      </div>
    {{/showscore}}
    <video  id="camsource" autoplay width="320" height="240">Put your fallback message here.</video>
    <canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>
    <div class="game-result {{draw ? '' : 'game-result-hidden'}}">
      <h2 class="draw">Draw!</h2>
    </div>
    <div class="game-result {{winner ? '' : 'game-result-hidden'}}">
      <h2 class="winner winner-name">{{winner}} wins!</h2>
    </div>
  </div>
  <!--<div class="score-half">
    <div class="ranking">
      <h3 class="ranking-heading">Ranking</h3>
      <ul>
      {{^ranking}}
        <li>No players, yet!</li>
      {{/ranking}}
      {{#ranking}}
        <li class="player">
          <span class="player-name">{{player.name}}</span>
          <span class="player-number">{{player.number}}</span>
          <span class="player-rating">{{rating}}</span>
        </li>
      {{/ranking}}
      </ul>
    </div>-->
  </div>
</div>
