<div class="signup">
  <connection/>
  <form method="post" class="signup" autocomplete="off">
    <label class="signup-field">
      <div class="signup-field-wrap">
        <div class="signup-field-confirmed">You're on!</div>
        <input type="text" class="signup-field-number" placeholder="What's your phone number?">
        <input type="text" class="signup-field-name" placeholder="What's your name?">
      </div>
    </label>
    <input type="submit" style="visiblity:hidden;position:absolute;top:-100px;"/>
  </form>
  <p class="explanation">Your phonenumber is safe with us. We just need it to contact the winner!</p>
</div>
